@import '~styles/config';


.Team {

    &__Row {

        &__left {

            width: 100%;

            display: flex;
            flex-flow: row wrap;

            justify-content: flex-start;
        }

        &__right {

            width: 100%;

            display: flex;
            flex-flow: row wrap;

            justify-content: flex-end;
        }
    }
}


.Practice {
    // padding: 80px 0;
    background-color: #fff;
    display: flex;
    flex-flow: row wrap;

    justify-content: center;

    &__Title {

        width: 100%;

        padding: 0 30px;
        margin: 120px 0 80px;

        font-family: $font-family;
        font-weight: 600;
        @include responsive-font(46, 52);
        
        line-height: 1em;

        text-align: left;

        color: #000;

        // background: red;


        @media (min-width: $min-640) {

            width: 100%;

            padding: 0 calc(10% + 50px);

            text-align: left;
        }

        @media (min-width: $min-1024) {

            width: 50%;
            
            padding: 0;

            text-align: center;

            line-height: 1.27em;
        }
    }
}