@import '~styles/config';


.Team {

    &__Row {

        &__left {

            width: 100%;

            display: flex;
            flex-flow: row wrap;

            justify-content: flex-start;
        }

        &__right {

            width: 100%;

            display: flex;
            flex-flow: row wrap;

            justify-content: flex-end;
        }
    }
}
