@import '~styles/config';


/* Cruves */
$easeOutMild: .215,.61,.355,1;
$easeSMild: .59,.08,0,.92;

/* Spacing */
$info-padding: 5.5%;

.Member {

    position: relative;
    width: 37.3%;
    overflow: hidden;


    &__Photo {

        margin: 0 0 30px;

        width: 100%;
        height: auto;

    }

    &__Name {

        padding: 0 $info-padding;
        margin: 0 0 10px;

        // font-family: 'Montserrat';
        font-family: $font-family;
        font-weight: 600;
        @include responsive-font(30px, 40px);

        line-height: 1.2em;

        color: #232323;

        // background: blue;
    }

    &__Position {

        padding: 0 $info-padding;
        margin: 0 0 50px;

        // font-family: 'Space Mono';
        font-family: $font-mono;
        font-weight: regular;
        @include responsive-font(18px, 22px);

        line-height: 1.2em;

        color: rgba(0,0,0,1);

        // background: red;

    }

    &__Quote {

        padding: 0 $info-padding;

        height: 240px;

        // font-family: 'Montserrat';
        font-family: $font-family;
        font-weight: 300;
        @include responsive-font(14px, 18px);

        line-height: 1.77em;

        color: #757575;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        
    }



    &__Detail {



        &, &__hide {

            z-index: 8000;

            position: absolute;

            top: 0; left: 0; right: 0; bottom: 0;

            padding: $info-padding;

            background: #CFD4D8;

            transition:
                transform 660ms cubic-bezier($easeOutMild);
                

        }

        &__hide {

            transform: translate3d(0, 100%, 0);
        }

    }


    &__Desc {

        // font-family: 'Montserrat';
        font-family: $font-family;
        font-weight: 300;
        @include responsive-font(14px, 18px);

        line-height: 1.77em;

        color: #000;
    }





    &__Button {

        position: absolute;

        left: 0;
        bottom: 0;

        padding: 0 0 $info-padding $info-padding;

        @include responsive-font(14px, 18px);

        color: rgba(0,0,0,0.6);

        background: none;

        transition: opacity 330ms cubic-bezier($easeOutMild);

        &:hover {

            cursor: pointer;

            opacity: 0.6;
        }

        &:focus {

            outline: none;
        }
    }
}