@import '~styles/config';

.Member {

    position: relative;
    width: 37.3%;
    overflow: hidden;


    &__Portrait {

        &__Photo {

            width: 100%;
            height: auto;
        }
    }

    &__Name {

        @include responsive-font(30px, 40px);

        color: rgba(0,0,0,1);
        font-weight: 700;
    }

    &__Position {

        @include responsive-font(18px, 22px);

        color: rgba(0,0,0,1);
    }

    &__Desc {

        height: 200px;

        @include responsive-font(18px, 22px);

        color: rgba(0,0,0,0.6);

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }


    &__ReadMore {

        position: absolute;

        left: 0;
        bottom: 0;

        padding: 0 0 20px 20px;

        @include responsive-font(16px, 20px);

        color: rgba(0,0,0,0.6);

        background: none;

        &:hover {

            cursor: pointer;
        }

        &:focus {

            outline: none;
        }
    }


    &__Detail {



        &, &__hide {

            z-index: 8000;

            position: absolute;

            top: 0; left: 0; right: 0; bottom: 0;

            padding: 30px;

            background: #CFD4D8;

            transition:
                transform 330ms ease-in-out;

        }

        &__hide {

            transform: translate3d(0, 100%, 0);
        }

    }


    &__DescFull {

        @include responsive-font(18px, 22px);

        color: rgba(0,0,0,0.6);
    }

    &__ReadLess {

        position: absolute;

        left: 0;
        bottom: 0;

        padding: 0 0 20px 20px;

        @include responsive-font(16px, 20px);

        color: rgba(0,0,0,0.6);

        background: none;

        &:hover {

            cursor: pointer;
        }

        &:focus {

            outline: none;
        }
    }
}