@import '~styles/config';

/* Spacing */
// $info-padding: 0;
// body {
//     --info-padding: 0;

//     @media (min-width: $min-1024) {
    
//         $info-padding: 5.5%;
//     }

// }





.Member {

    --info-padding: 0;

    position: relative;
    width: 100%;
    overflow: hidden;


    @media (min-width: $min-640) {
        
        width: 50%;
    }

    @media (min-width: $min-1024) {
        
        --info-padding: 5.5%;
        width: 37.3%;
    }


    &__Photo {

        background-size: cover;
        background-repeat: no-repeat;

        display: block;

        margin: 0 0 30px;
        padding-top: 70%;

        width: 100%;
    }

    &__Name {

        // padding: 0 $info-padding;
        padding: 0 var(--info-padding);
        margin: 0 0 10px;

        font-family: $font-family;
        font-weight: 600;
        @include responsive-font(30px, 40px);

        line-height: 1.2em;

        color: #232323;

        // background: blue;
    }

    &__Position {

        // padding: 0 $info-padding;
        padding: 0 var(--info-padding);
        margin: 0 0 20px;

        font-family: $font-mono;
        font-weight: regular;
        @include responsive-font(18px, 22px);

        line-height: 1.2em;

        color: rgba(0,0,0,1);

        // background: red;

        @media (min-width: $min-1024) {

            margin: 0 0 50px;
        }
    }

    &__Quote {

        // padding: 0 $info-padding;
        padding: 0 var(--info-padding);

        min-height: 160px;

        font-family: $font-family;
        font-weight: 300;
        @include responsive-font(14px, 18px);

        line-height: 1.77em;

        color: #757575;
        


        @media (min-width: $min-640) {

            min-height: 240px;
        }
    }



    &__Detail {



        &, &__hide {

            z-index: 8000;

            position: absolute;

            top: 0; left: 0; right: 0; bottom: 0;

            // padding: $info-padding;
            padding: var(--info-padding);

            background: #CFD4D8;

            transition:
                transform 560ms cubic-bezier($easeOutMild);
        }

        &__hide {

            transform: translate3d(0, 100%, 0);
        }

    }


    &__Desc {

        font-family: $font-family;
        font-weight: 300;
        @include responsive-font(14px, 18px);

        line-height: 1.77em;

        color: #000;
    }





    &__Button {

        position: absolute;

        left: 0;
        bottom: 0;

        // padding: 0 0 $info-padding $info-padding;
        padding: 0 0 var(--info-padding) var(--info-padding);

        @include responsive-font(14px, 18px);

        color: rgba(0,0,0,0.6);

        background: none;

        transition: opacity 330ms cubic-bezier($easeOutMild);


        &:hover {

            cursor: pointer;

            opacity: 0.6;
        }

        &:focus {

            outline: none;
        }
    }
}