@import '~styles/config';

.project_row {
  display: flex;
  margin-bottom: 100px;
}

.project_cover,
.project_info {
  width: 50%;
  height: 50vw;
}

.project_cover {
  position: relative;
  background-size: cover;
}

.project_info_wrapper {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 70%;
  margin: auto auto;
}

.project_name {
  @include responsive-font(20px, 35px);
}

.project_des {
  @include responsive-font(15px, 18px);
  line-height: 25px;
  margin: 20px 0;
  margin-bottom: 50px;
}
