@import '~styles/config';

.block {

  display: flex;
  flex-flow: row nowrap;
  
  justify-content: center;

  // background: green;

  &__col {
    
    width: 100%;
    padding: 0;
    // background: red;

    @media (min-width: $min-640) {

      padding: 0 10%;
      width: 100%;
    }

    @media (min-width: $min-1024) {

      padding: 0;
      width: 50%;
    }

    
  }

  &__heading {

    margin-bottom: 1.4em;

    @include responsive-font(12, 18);
    font-family: $font-mono;
    font-weight: normal;

    line-height: 1.67em;

    color: #000;
  }

  &__description {

    margin: 0 0 120px;

    font-family: $font-family;
    font-weight: 500;
    @include responsive-font(18px, 22px);
    
    line-height: 1.72em;

    color: #232323;

    p {

      margin: 2em 0 0;

      // background: red;

      &:first-child {

        margin: 0;
      }

      a { // stylelint-disable-line
        text-decoration: none;

        color: $grounded-blue;

        transition: 200ms opacity ease-in-out;

        &:hover { // stylelint-disable-line

          opacity: 0.5;
        }
      }
    }
  }
}
