@import '~styles/config';

.image__grid{
  height: 80vw;
  position:relative;
  margin-bottom:100px;
  z-index:100;
  img {
    display: block;
    position: absolute;
    max-width: 50%;
    right: 13%;
    &:first-of-type{
      max-width: 43%;
      transform: translate(0,40%);
      right: auto;
    }
    &:last-of-type{
      max-width: 50%;
      bottom:0px;
      right:0px;
    }
  }

}

.content {
  position:relative;
  overflow: hidden;
  padding-top: 100px;
}

.spray__top{
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  margin: 0 auto;
  max-width: 100%;
  z-index: 0;
  pointer-events:none;
  img {
    transform: rotate(90deg)
  }
}

.spray__foot{
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
  margin: 0 auto;
  max-width: 100%;
  z-index: 0;
  transform: translate(0,20%);
  pointer-events:none;
}
.body__content {
  @include container;
  position:relative;
  overflow: visible;
  z-index:100;

  .two__column__text__wrapper{
    margin: 0 auto;
    p {

    }
  }

  .two__column__text{
    display:flex;
    position:relative;
    z-index:100;
    justify-content: center;
    max-width: 950px;
    margin: 0 auto;
    &__big {
      max-width:600px;
      margin-right:50px;
      overflow: visible;
      p {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        line-height: 48px;
        font-size: 32px;
        color: #000000;
        &:first-of-type{
          font-family: Space Mono;
          font-style: normal;
          font-weight: normal;
          line-height: 30px;
          font-size: 18px;
          color: #232323;
          position: absolute;
          transform: translate(0,calc(-100% - 10px))
        }
      }
    }
    &__small {
      max-width:350px;
      p {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        line-height: 32px;
        font-size: 18px;
        color: #000000;
        opacity: 0.8;
      }

    }
    @media screen and (max-width: $min-desktop) {
      flex-wrap: wrap;
      .two__column__text__big {
        max-width: 100%;
        margin: 0 auto;
      }
      .two__column__text__small {
        max-width: 100%;
        margin: 0 auto;
      }
      p {
        width: 100%;
        min-width:100%;
        margin: 0 auto;
        &:first-of-type{
          margin-bottom: 20px;
        }
      }
    }


  }
  .button__row {
    margin: 50px auto;
    max-width: 950px;
    a {
      background: #2D9CDB;
      display: block;
      max-width: 200px;
      text-align: center;
      color: white;
      text-decoration: none;
      font-size:18px;
      letter-spacing:.02em;
      font-family:"Montserrat";
      font-weight:600;
      padding: 25px 20px;
      border-radius: 3px;
    }
  }
}


.opening__image {
  width: 100%;
  max-height: 680px;
  min-height: 64vh;
  // height: 100vh;
  background-size:cover;
  z-index: 0;
  margin-bottom: 100px;
  background-position: left center;
  position: relative;

  @media screen and (max-width: 1020px) {
    @include container;
    margin-bottom: 100px;
  }

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;

    min-height: 64vh;

    > div {
      height: 99%;
    }
  }

  &__content {
    position: relative;
    z-index: 10;
    min-height: 64vh;
  }

  &__spray {
    position: absolute;
    bottom: 0px;
    right: 0px;
    transform: translate(50%, 50%);
    max-width: 600px;
    img {
      display:block;
    }
    display:none;
  }
  &__big__logo {

    width:340px;
    height:auto;
    @media screen and (max-width: 1100px) {
      width:280px;
    }
    svg {
      width: 100%;
      height: auto;
      path {
        fill: #F5F4F0;
      }
    }
    @media screen and (max-width: 1020px) {
      display: none;
    }
  }
  &__text {
    display: block;
    position: absolute;
    top: 350px;
    left: 400px;
    width: calc(100% - 400px);
    svg {
      width: 100%;
      height: auto;
      max-width: 700px;
      text {
        font-size: 90px;
        stroke-dasharray: 880px;
        stroke-dashoffset: 880px;
        &:last-child {
          opacity: 0;
        }
      }

    }
    @media screen and (max-width: 1100px) {
      width: 100%;
      top: 50%;
      transform: translate(0,-50%);
      left: 350px;
    }
    @media screen and (max-width: 1020px) {
      left: auto;
    }
  }
}
