@import '~styles/config';

.Methodology {
}


.Aces {

    display: flex;
    flex-flow: row wrap;

    justify-content: center;

    background: #fff;

    &__Title {

        width: 100%;

        padding: 0 30px;
        margin: 120px 0 80px;

        font-family: $font-family;
        font-weight: 600;
        @include responsive-font(46, 52);
        
        line-height: 1em;

        text-align: left;

        color: #000;

        // background: red;


        @media (min-width: $min-640) {

            width: 100%;

            padding: 0 calc(10% + 50px);

            text-align: left;
        }

        @media (min-width: $min-1024) {

            width: 50%;
            
            padding: 0;

            text-align: center;

            line-height: 1.27em;
        }
    }


    &__Categories {

        width: 100%;

        margin: 0 auto 80px;

        display: flex;
        flex-flow: row wrap;

        // background: red;



        @media (min-width: $min-640) {

            padding: 0 10%;
            width: 100%;
        }


        @media (min-width: $min-1024) {

            padding: 0;
            width: 50%;
        }


        &__Entry {

            display: flex;
            flex-flow: row wrap;

            width: 100%;

            // background: green;

            @media (min-width: $min-1024) {

                flex-flow: column wrap;

                width: 33.33%;
            }


            &__Title {

                margin: 0 0 0 20px;

                font-family: $font-family;
                font-weight: 400;
                @include responsive-font(18px, 22px);
                
                line-height: 1.72em;

                @media (min-width: $min-1024) {

                    margin: 0;
                }
            }
        }
    }
}


.Theory {

    // padding: 80px 0;

    display: flex;
    flex-flow: row wrap;

    justify-content: center;

    &__Title {

        width: 100%;

        padding: 0 30px;
        margin: 120px 0 80px;

        font-family: $font-family;
        font-weight: 600;
        @include responsive-font(46, 52);
        
        line-height: 1em;

        text-align: left;

        color: #000;

        // background: red;


        @media (min-width: $min-640) {

            width: 100%;

            padding: 0 calc(10% + 50px);

            text-align: left;
        }

        @media (min-width: $min-1024) {

            width: 50%;
            
            padding: 0;

            text-align: center;

            line-height: 1.27em;
        }
    }

    
    &__Entry {

        width: calc(100% - 60px);

        display: flex;
        flex-flow: row wrap;

        padding: 0 0 100px;
        margin: 0 0 100px;

        border-style: solid;
        border-width: 0 0 1px;
        border-color: #979797;

        &:last-child {

            padding: 0;

            border-width: 0;
        }


        @media (min-width: $min-640) {

            width: 66.25%;
        }


        &__Name {

            width: 100%;

            margin: 0 0 30px;

            font-family: $font-family;
            font-weight: 600;

            @include responsive-font(26, 32);

            line-height: 1.2em;

            // background: red;

            @media (min-width: $min-640) {

                width: 50%;

                line-height: 1.5em;
            }
        }

        &__Desc {

            width: 100%;

            // background: yellow;

            @media (min-width: $min-640) {

                width: 50%;
            }

            p {

                margin: 0 0 2em;

                font-family: $font-family;
                font-weight: 400;

                @include responsive-font(16, 18);

                line-height: 1.77em;

                color: #000;

                &:last-child {

                    margin: 0;
                }
            }
        }
    }
}