@import '~styles/config';

.section_title,
.section_featured {
  width: 70%;
  min-width: 300px;
  margin: 0 auto;
  padding: 50px 0;
}

.hero_image {
  width: 100%;
  height: 600px;
  background-size: cover;
  background-position: center center;
  background-color: #e5e5e5;
}

.section_featured {
  width: 50%;
  min-width: 200px;
  text-align: center;
}

.project_name {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  @include responsive-font(40px, 52px);
  line-height: 66px;
}

.project_des {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  @include responsive-font(15px, 18px);
  line-height: 32px;
  margin: 20px 0;
}

.project_year {
  font-family: $font-mono;
  font-size: 18px;
}

@media screen and (max-width: $min-tablet + 1px) {
  .section_featured {
    width: 80%;
  }

  .hero_image {
    width: 100%;
    height: 300px;
  }

  .project_name {
    @include responsive-font(36px, 48px);
    line-height: 48px;
  }
}
