@import '~styles/config';

.header__light{
  display:block;
}

.header {
  display: block;
  position:relative;
  z-index:1000;

  font-family: $font-family;
  &__light {
    position: absolute;
    width:100%;
    a {
      color: white;

    }
  }
  &__light &__navigation .header__right a {
     color: white;
     &:last-of-type {
       border-color: currentColor;
     }
  }

  &__logo {
    width: 340px;
    display: flex;
    justify-content: flex-end;
    svg {
      display: block;
      margin-right: 20px;
      height: 100px;
      width: 240px;
      @media (min-width: $min-768) {
        height: auto;
      }
    }
  }

  .header__mobile {
    display:none;
    width:100%;
    @include container;
    .header__mobile__button {
      background: none;
      .header__mobile__icon {
        width:30px;
        height:30px;
        align-self:center;
        cursor:pointer;
        svg {
          width:100%;
        }
      }
    }
    &__logo {
      width: 140px;
      display: flex;
      justify-content: flex-start;
      svg {
        display: block;
        margin-right: 20px;
        height: 100px;
        width: 240px;
        @media (min-width: $min-768) {
          height: auto;
        }
      }
    }
    @media screen and (max-width: 1400px) {
      display: flex;
      justify-content: space-between;
    }
  }


  &__navigation {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    width: 100%;
    .header__left {
      display:flex;
      justify-content: flex-start;
    }
    .header__right{
      display:flex;
      justify-content: flex-end;
      margin-right:50px;
      a {
        &:last-of-type{
          width:160px;
          border: 1px solid black;
          text-align: center;
          display: block;
          padding: 20px 30px;
        }
      }
    }
    @media screen and (max-width: 1400px) {
      display:none;
    }
  }
  .header__navigation__open {
    position: absolute;
    width:100vw;
    height:100vh;
    top:0px;
    left:0px;
    background:#2D9CDB;
    display:block;
    .header__logo {
      display:none;
    }
    .header__left {
      display:flex;
      color:#fff;
    }
    .header__right {
      display:flex;
      color:#fff;
    }
  }
}
