@import '~styles/config';

.header__light{
  display:block;
}

.header {
  display: block;
  position:relative;
  z-index:1000;
  overflow-x: hidden;
  overflow-y: visible;
  font-family: $font-family;

  &__video {
    a {
      color: white;
    }
  }
  &__video &__logo svg {
    color: white;
  }

  &__light {
    position: absolute;
    width:100%;
    a {
      color: white;
    }
  }

  &__light &__navigation .header__right a,
  &__video &__navigation .header__right a {
     color: white;
     &:last-of-type {
       border-color: currentColor;

       // wip
     }
  }

  &__logo {
    width: 340px;
    display: flex;
    justify-content: flex-end;
    @media screen and (max-width: 1100px) {
      width:280px;
    }
    svg {
      display: block;
      margin-right: 20px;
      height: 100px;
      width: 240px;
      color: #231F20;
      @media (min-width: $min-768) {
        height: auto;
      }
    }
  }

  .header__mobile {
    display:none;
    width:100%;
    @include container;
    .header__mobile__button {
      background: none;
      .header__mobile__icon {
        width:30px;
        height:30px;
        align-self:center;
        cursor:pointer;
        svg {
          width:100%;
        }
      }
    }
    &__logo {
      width: 140px;
      display: flex;
      justify-content: flex-start;
      svg {
        display: block;
        margin-right: 20px;
        height: 100px;
        width: 240px;
        @media (min-width: $min-768) {
          height: auto;
        }
      }
    }
    @media screen and (max-width: 1020px) {
      display: flex;
      justify-content: space-between;
    }
  }


  &__navigation {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    width: 100%;
    .closing_mobile_menu {
      display: none;
    }

    .header__left {
      display:flex;
      justify-content: flex-start;
    }
    .header__right{
      display:flex;
      justify-content: flex-end;
      margin-right:50px;
      a {
        &:last-of-type{

          position: relative;

          width:160px;
          border: 1px solid black;
          text-align: center;
          display: block;
          padding: 20px 30px;

          overflow: hidden;

          &::after {

            content: '';

            position: absolute;

            z-index: -1;

            top: 0; left: 0; right: 0; bottom: 0;

            background: #fff;

            transform: translate3d(0, 100%, 0);

            transition: transform 330ms cubic-bezier($easeOutMild);

          }

          &:hover {

            color: #000;
            border-color: #fff;

            &::after {

              transform: translate3d(0,0,0);

            }
          }

          @media screen and (max-width: 1400px) {
            padding:10px 20px;
            width: auto;
          }
        }
      }
    }
    @media screen and (max-width: 1020px) {
      transform: translate(150%,0%);
      position: absolute;
      width:100vw;
      height:100vh;
      top:0px;
      left:0px;
      transition: transform .25s;
      position: absolute;
      width:100vw;
      height:100vh;
      top:0px;
      left:0px;
      transition: transform .25s;
      background:#2D9CDB;
      display:block;
      display:flex;
      flex-direction:column;
      justify-content: space-between;
      .closing_mobile_menu {
        display: block;
        background: none;
        cursor:pointer;
      }
      .header__logo {
        display:none;
      }
      .header__left {
        display:flex;
        color:#000;
        display:flex;
        flex-direction:column;
        a {
          font-family: Montserrat;
          font-style: normal;
          font-weight: 600;
          line-height: 48px;
          font-size: 24px;
          text-align: center;
          margin:0 auto;
          color:#000;
        }
      }
      .header__right {
        display:flex;
        color:#000;
        display:flex;
        flex-direction:column;
        margin: 0 auto;
        width:100%;
        a {
          font-family: Montserrat;
          font-style: normal;
          font-weight: 600;
          line-height: 48px;
          font-size: 24px;
          text-align: center;
          margin:0 auto;
          color:#000;
          &:first-of-type {
            border-top: 1px solid #000;
            width:100%;
            color:black;
            text-align:center;
            display: flex;
            justify-content: center;
          }
          &:last-of-type {
            background: black;
            width:100%;
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            line-height: 22px;
            font-size: 18px;
            text-align: center;
            color: #2D9CDB;
          }
        }
      }
    }
  }
  .header__navigation__open {
    transform: translate(0px,0px);
  }
}
