@import '~styles/config';

.header {
  display: block;
  // font-family: 'Montserrat';
  font-family: $font-family;
  
  &__container {
    @include container;
  }

  &__content {
    display: flex;
    align-items: center;

    padding: $gutter 0;
  }

  &__logo {

    &Svg {
      display: block;
      margin-right: 30px;
      height: 16px;
      width: 240px;
      margin-top:-18px;

      @media (min-width: $min-768) {
        height: auto;
      }
    }
  }

  &__navigation {
    display: flex;
    a {
      &:last-of-type{
        width:160px;
        border: 1px solid black;
        text-align: center;
        display: block;
        padding: 20px 30px;
      }
    }
  }
}
