@import '~styles/config';

.section_title {
  min-width: 300px;

  // padding: 50px 0;

  padding: 0 10% 0 25.4%;
  margin: 100px 0 80px 0;

  @media (min-width: $min-1024) {
    padding: 0 10% 0 25.32%;
    margin: 140px 0 110px 0;
  }
}

.title {
  margin: 0 0 40px;

  font-family: $font-heading;
  font-weight: normal;
  @include responsive-font(70px, 84px);

  letter-spacing: -0.02em;
  line-height: 1em;

  text-transform: uppercase;

  color: #000;

  @media (min-width: $min-1024) {
    margin: 0 0 60px;
  }
}

.des {
  font-family: $font-family;
  font-weight: normal;
  @include responsive-font(22px, 30px);

  line-height: 1.6em;

  color: #000;

  $min-tablet: $min-720;
}

@media screen and (max-width: $min-tablet + 1px) {
  .des {
    @include responsive-font(16px, 24px);
  }
}
