@import '~styles/config';


.block {

    display: flex;
    flex-flow: row nowrap;

    justify-content: center;
}


.List {

    display: flex;
    flex-flow: row wrap;

    width: 100%;
    padding: 0;
    
    margin: 0 0 80px;


    @media (min-width: $min-640) {

      padding: 0 10%;
      width: 100%;

    //   background: red;
    }

    @media (min-width: $min-1024) {

        width: 66%;
        padding: 0;
    }

    // background: yellow;

    


    li {

        position: relative;

        width: 100%;

        padding: 0 2em 0.8em 0;
        margin: 0 0 0 40px;
        
        font-family: $font-family;
        font-weight: 400;
        @include responsive-font(20px, 24px);
        
        line-height: 1.2em;

        color: #757575;


        &:before {

            content: '';

            position: absolute;

            top: 0.5em;
            left: 0;
            right: 0;

            width: 25px;

            height: 1px;

            background: #000;

            margin-left: -40px;

        }

        @media (min-width: $min-1024) {

            width: calc(50% - 50px);

            @include responsive-font(22px, 30px);
        }

        // background: red;
    }
}